#informacion_contador {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.simply-section {
  background-color: var(--primary-color);
  color: white;
  width: 5em;
  height: 100px;
  margin: 0 10px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.2em;
  box-shadow: 2px 4px 7px #000;
}
.simply-amount {
  display: block;
  font-size: 3em;
  font-weight: 700;
  font-family: "DS-DIGIB";
}
.simply-word {
  font-weight: 300;
  font-size: 1em;
}
@media (min-width: 950px) {
  .simply-section {
    background-color: var(--primary-color);
    color: white;
    width: 5em;
    height: 100px;
    margin: 0 10px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }
}
